#map {
  width: 100%;
  height: 580px;
  box-shadow: 5px 5px 5px #888;
}

/* Definir fuentes */

/* Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  src: url("https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2")
    format("woff2");
}

/* Maitree */
@font-face {
  font-family: "Maitree";
  font-style: normal;
  font-weight: 200 700;
  src: url("https://fonts.gstatic.com/s/maitree/v5/MwQ3bhT01--coTJIWE0e8VO9fV0VB5g.woff2")
    format("woff2");
}

/* Noto Serif */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 100 900;
  src: url("https://fonts.gstatic.com/s/notoserif/v11/ga6Law1J5NzVDPw_LfDiv4AsQMxFW2erKfZj3BFkhlQkxg.ttf")
    format("truetype");
}

/* Aplicar fuentes a los elementos de la página */

* {
  font-family: "Noto Serif", serif; /* Utilizar Roboto para los párrafos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
}

.my-class {
  font-family: "Maitree", sans-serif; /* Utilizar Maitree para el cuerpo del texto */
}

h1 {
  font-family: "Roboto", sans-serif; /* Utilizar Noto Serif para los títulos */
}

h2 {
  font-family: "Maitree", sans-serif; /* Utilizar Maitree para el cuerpo del texto */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 12% 1rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.name {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.name:hover {
  transform: scale(1.1);
}

.name span{
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
  font-size: 1.8 rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  gap: 15rem;
  min-height: 32vh;
  padding: 3rem 7% 3rem;
  width: 80%;
}

.foto-nombre{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 12% 1rem;
  height: 28rem;
}

.foto-nombre h1{
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-color);
}

.misael-img{
  border-radius: 50%;
}

.misael-img img{
  position: relative;
  top: 3rem;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.misael-img img:hover{
 box-shadow: 0 0 25px var(--main-color),
             0 0 50px var(--main-color),
             0 0 100px var(--main-color);
}



.informacion-personal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-adicional{
  justify-content: center;
  align-items: center;
  display: grid;
}

.info-adicional p{
  padding: 3%;
}

.educacion-experiencia{
  display: flex;
  justify-content: center;
  align-items: center;
}

.educacion{
 
}

.experiencia{
  
}

.contact{
  background-color: var(--bg-color);
}

.contact h2{
  margin-bottom: 3rem;
  color: white;
}

.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form.input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}



.map {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  max-width: 600px; /* Ancho máximo para evitar que se haga demasiado grande */
  height: 400px; /* Altura del contenedor del mapa */
  overflow: hidden; /* Oculta cualquier desbordamiento */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

